[Unit]
Description=Every 5 minutes, check CamDisplay has been running stably and reset the reboot counter

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
